#card1 {
  width: '1044px';
  height: '487px';
  background-color: 'whitesmoke';
  position: 'absolute';
  bottom: '0vh';
  left: '5vw';
  opacity: '0.9';
}

#card2 {
  width: '1044px';
  height: '487px';
  background-color: 'whitesmoke';
  position: 'relative';
  top: '48vh';
  left: '5vw';
  opacity: '0.9';
}

#arrowdot {
  width: '23px';
  height: '40px';
  position: 'relative';
  background-color: '#ffb14f';
  top: '18vh';
  left: '37vw';
}

#vertical {
  width: '10px';
  height: '532px';
  position: 'relative';
  background-color: '#ffb14f';
  bottom: '10vh';
  left: '50vw';
}
